{
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "extends": [
    "plugin:import/recommended",
    "plugin:jest-dom/recommended",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/react"
  ],
  "overrides": [
    {
      "files": ["*.test.tsx"],
      "env": {
        "node": true,
        "commonjs": true,
        "browser": true,
        "jest": true
      }
    }
  ],
  "plugins": ["import", "react-hooks", "jest-dom", "testing-library"],
  "rules": {
    "prettier/prettier": "off",
    "import/named": "off",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@components/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@hooks/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@interfaces/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "./*.module.css",
            "group": "sibling",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  }
}
